<!-- ##### Footer Area Start ##### -->
<footer class="footer_area clearfix">
    <div class="container">
        <div class="row">
            <!-- Single Widget Area -->
            <div class="col-12 col-md-6">
                <div class="single_widget_area d-flex mb-10">
                    <!-- Logo -->
                    <div class="logofooter footer-logo mr-50">
                        <a href="/"><img src="/essence/img/images/LOGO250X180BCO.png" alt=""></a>
                    </div>
                
                </div>
            </div>
            <!-- Single Widget Area -->
            <div class="col-12 col-md-6">
                <div class="single_widget_area mb-10">
                    <ul class="footer_widget_menu">
                        <li><a href="/promociones">Formas de pago</a></li>
                        <li><a href="/shipping">Envíos y tiempos de entrega</a></li>
                        <li><a href="/nosotros">Nosotros</a></li>
                        <li><a href="/products">Comprar</a></li>
                            
                        <li><a href="/contact">Contacto</a></li>
                        
                    </ul>
                </div>
            </div>
        </div>

</footer>
<!-- ##### Footer Area End ##### -->