<!-- ##### Footer Area Start ##### -->
<footer class="footer_area clearfix">
    <div class="container">
        <div class="row">
            <!-- Single Widget Area -->
            <div class="col-12 col-md-6">
                <div class="single_widget_area d-flex mb-10">
                    <!-- Logo -->
                    <div class="logofooter footer-logo mr-50">
                        <a href="/"><img src="/essence/img/images/LOGO250X180BCO.png" alt=""></a>
                    </div>
                
                </div>
            </div>
            <!-- Single Widget Area -->
            <div class="col-12 col-md-6">
                <div class="single_widget_area mb-10">
                    <ul class="footer_widget_menu">
                        <li><a href="/promociones">Formas de pago</a></li>
                        <li><a href="/shipping">Envíos y tiempos de entrega</a></li>
                        <li><a href="/nosotros">Nosotros</a></li>
                        <li><a href="/products">Comprar</a></li>
                            
                        <li><a href="/contact">Contacto</a></li>
                        
                    </ul>
                </div>
            </div>
        </div>
        <div class="socialmediafooter ">
            <div class="hijofooter single_widget_area">
                <div class="footer_social_area">
                    <a href="#" data-toggle="tooltip" data-placement="top" title="Facebook"><i class="fa fa-facebook" aria-hidden="true"></i></a>
                    <a href="https://www.instagram.com/mercadolibrotienda" data-toggle="tooltip" data-placement="top" title="Instagram"><i class="fa fa-instagram" aria-hidden="true"></i></a>
                    <a href="#" data-toggle="tooltip" data-placement="top" title="Twitter"><i class="fa fa-twitter" aria-hidden="true"></i></a>
                  
                </div>
            </div>
        </div>
    </div>
</footer>
<!-- ##### Footer Area End ##### -->