<!DOCTYPE html>
<html lang="en">

    <%- include("./partials/head") %> 

<body>
    <!-- ##### Header Area Start ##### -->
    <%- include("./partials/header") %>
    <!-- ##### Header Area End ##### -->

    <!-- ##### Right Side Cart Area ##### -->
    <%- include("./partials/carrito") %>
    <!-- ##### Right Side Cart End ##### -->


    <div class="contact-area d-flex align-items-center">

        <div class="contactus">
            <section class="welcome_area bg-img background-overlay" style="background-image: url(/essence/img/images/libreria.jpg);">
        </div>

        <div class="contact-info">
            <h2>Acerca de nosotros</h2>

            <div class="envios mt-50">
                <p>Somos Mercado Libro, brindamos un servicio de venta de libros perfilado a la vida académica ademas de a un publico en general que disfruta de la lectura en sus posibles diferentes categorias. Sobre nuestro público universitario interesado en materiales de diversas disciplinas académicas es que ajustamos nuestra acción principalmente a través de la búsqueda directa de ejemplares. Nuestra página busca optimizar la experiencia del usuario garantizando la facilidad de la búsqueda de materiales mediante descripciones concisas de cada uno de nuestros productos, la claridad de la información y condiciones comerciales sumado a la practicidad de los pasos de compra.</p>
             
            </div>
        </div>

    </div>

    <!-- ##### Footer Area Start ##### -->
    <%- include("./partials/footer") %>
    <!-- ##### Footer Area End ##### -->

    <!-- jQuery (Necessary for All JavaScript Plugins) -->
    <script src="js/jquery/jquery-2.2.4.min.js"></script>
    <!-- Popper js -->
    <script src="js/popper.min.js"></script>
    <!-- Bootstrap js -->
    <script src="js/bootstrap.min.js"></script>
    <!-- Plugins js -->
    <script src="js/plugins.js"></script>
    <!-- Classy Nav js -->
    <script src="js/classy-nav.min.js"></script>
    <!-- Active js -->
    <script src="js/active.js"></script>
    <!-- Google Maps -->
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAwuyLRa1uKNtbgx6xAJVmWy-zADgegA2s"></script>
    <script src="js/map-active.js"></script>

</body>

</html>