<!DOCTYPE html>
<html lang="en">

    <%- include("./partials/head") %> 

<body>
    <!-- ##### Header Area Start ##### -->
    <%- include("./partials/header") %>
    <!-- ##### Header Area End ##### -->

    <!-- ##### Right Side Cart Area ##### -->

    <%- include("./partials/carrito") %>
    <!-- ##### Right Side Cart End ##### -->


    <div class="contact-area d-flex align-items-center">

        <div class="contactus">
            <section class="welcome_area bg-img background-overlay" style="background-image: url(/essence/img/images/contactus.jpg);">
        </div>

        <div class="contact-info">
            <h2>Contactanos</h2>
            <p></p>

            <div class="contact-address mt-50">
                <p><span>Dirección:</span> Avellaneda 490, Córdoba</p>
                <p><span>Horarios:</span> Lunes a Viernes de 9:00 a 20:00</p>
                <p><span>Teléfono:</span> 3512600003</p>
                <p><a href="mailto:contact@mercadolibro.com">contact@mercadolibro.com</a></p>
            </div>
        </div>

    </div>

    <!-- ##### Footer Area Start ##### -->
    <%- include("./partials/footer") %>
    <!-- ##### Footer Area End ##### -->

    <!-- jQuery (Necessary for All JavaScript Plugins) -->
    <script src="js/jquery/jquery-2.2.4.min.js"></script>
    <!-- Popper js -->
    <script src="js/popper.min.js"></script>
    <!-- Bootstrap js -->
    <script src="js/bootstrap.min.js"></script>
    <!-- Plugins js -->
    <script src="js/plugins.js"></script>
    <!-- Classy Nav js -->
    <script src="js/classy-nav.min.js"></script>
    <!-- Active js -->
    <script src="js/active.js"></script>
    <!-- Google Maps -->
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAwuyLRa1uKNtbgx6xAJVmWy-zADgegA2s"></script>
    <script src="js/map-active.js"></script>

</body>

</html>



   

    

