<!DOCTYPE html>
<html lang="en">

    <%- include("./partials/head") %> 

<body>
    <!-- ##### Header Area Start ##### -->
    <%- include("./partials/header") %>
    <!-- ##### Header Area End ##### -->

    <!-- ##### Right Side Cart Area ##### -->

    <%- include("./partials/carrito") %>
    <!-- ##### Right Side Cart End ##### -->


    <div class="contact-area d-flex align-items-center">

        

        <div class="col-4 promos">
            <h2 class= "titulopromo">Nuestras promociones</h2>
            

            <div class="beneficios">
                <p><span><strong>Tarjetas:</strong></span> Visa, MasterCard* y Naranja</p>
                <p><span><strong>Cuotas:</strong></span> Hasta 3 sin interés</p>
                <p><span><strong>Beneficios:</strong></span> 10% off de contado (válido hasta el 30/9 del 2020)</p>
            </div>
            <div>
              <p class = "terminos"><strong>*Términos y condiciones: </strong>tarjetas de crédito Master Card y Visa emitidas por entidades bancarias de la República Argentina</p>
            </div>
        </div>

        <div class="col-6 promos-foto">
            <section class="welcome_area bg-img background-overlay" style="background-image: url(/essence/img/images/ecommercetc.png);">
        </div>

    </div>

    <!-- ##### Footer Area Start ##### -->
    <%- include("./partials/footer") %>
    <!-- ##### Footer Area End ##### -->

    <!-- jQuery (Necessary for All JavaScript Plugins) -->
    <script src="js/jquery/jquery-2.2.4.min.js"></script>
    <!-- Popper js -->
    <script src="js/popper.min.js"></script>
    <!-- Bootstrap js -->
    <script src="js/bootstrap.min.js"></script>
    <!-- Plugins js -->
    <script src="js/plugins.js"></script>
    <!-- Classy Nav js -->
    <script src="js/classy-nav.min.js"></script>
    <!-- Active js -->
    <script src="js/active.js"></script>
    <!-- Google Maps -->
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAwuyLRa1uKNtbgx6xAJVmWy-zADgegA2s"></script>
    <script src="js/map-active.js"></script>

</body>

</html>
