<!DOCTYPE html>
<html lang="en">

    <%- include("./partials/head") %> 
    

<body>
    <%- include("./partials/header") %>

    
    <%- include("./partials/carrito") %>

<div class= "container containersuccess">

    <div class = "registersuccess row col-10 col-sm-6 col-md-4 col-xl-4">
        
            <div>
                <img class = "imgregistersucces" src= "/essence/img/images/userlogin.png">
            </div>
            
        
    </div>


    <div class=" graciasregistro mx-3 row col-12 col-sm-6 col-md-4 col-xl-6">
        <h2>Gracias por registrarte en Mercado Libro</h2>
    </div>



</div>

    <%- include("./partials/footer") %>
    <!-- ##### Footer Area End ##### -->

    <!-- jQuery (Necessary for All JavaScript Plugins) -->
    <script src="/essence/js/jquery/jquery-2.2.4.min.js"></script>
    <!-- Popper js -->
    <script src="/essence/js/popper.min.js"></script>
    <!-- Bootstrap js -->
    <script src="/essence/js/bootstrap.min.js"></script>
    <!-- Plugins js -->
    <script src="/essence/js/plugins.js"></script>
    <!-- Classy Nav js -->
    <script src="/essence/js/classy-nav.min.js"></script>
    <!-- Active js -->
    <script src="/essence/js/active.js"></script>
    <script src="/essence/javascript/js-front.js" type = "text/javascript"></script>

</body>

</html>