<!DOCTYPE html>
<html lang="en">

    <%- include("./partials/head") %> 

<body>
    <!-- ##### Header Area Start ##### -->
    <%- include("./partials/header") %>
    <!-- ##### Header Area End ##### -->

    <!-- ##### Right Side Cart Area ##### -->

    <%- include("./partials/carrito") %>
    <!-- ##### Right Side Cart End ##### -->


    <div class="contact-area d-flex align-items-center">

        <div class="contactus col-12 col-sm-6 col-md-4 col-xl-6">
            <section class="welcome_area bg-img background-overlay" style="background-image: url(/essence/img/images/shipping.jpg);">
        </div>

        <div class="contact-info">
            <h2>Envíos y tiempos de entrega</h2>

            <div class="envios mt-50">
                <p><span><strong>Envíos a todo el país través de Andreani</strong></span> </p>
                <p><span><strong>Horarios de entrega:</strong></span> Lunes a Viernes de 9:00 a 18:00</p>
                <p><span><strong>Plazos de entrega:</strong></span></p>
                <p>Córdoba: de 1 a 4 días hábiles</p>
                <p>Resto de las provincias: de 2 a 6 días hábiles</p>
             
            </div>
        </div>

    </div>

    <!-- ##### Footer Area Start ##### -->
    <%- include("./partials/footer") %>
    <!-- ##### Footer Area End ##### -->

    <!-- jQuery (Necessary for All JavaScript Plugins) -->
    <script src="js/jquery/jquery-2.2.4.min.js"></script>
    <!-- Popper js -->
    <script src="js/popper.min.js"></script>
    <!-- Bootstrap js -->
    <script src="js/bootstrap.min.js"></script>
    <!-- Plugins js -->
    <script src="js/plugins.js"></script>
    <!-- Classy Nav js -->
    <script src="js/classy-nav.min.js"></script>
    <!-- Active js -->
    <script src="js/active.js"></script>
    <!-- Google Maps -->
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAwuyLRa1uKNtbgx6xAJVmWy-zADgegA2s"></script>
    <script src="js/map-active.js"></script>

</body>

</html>