<!DOCTYPE html>
<html lang="en">

    <%- include("./partials/head") %> 

<body>

    <div class = "container">

        <h3 class ="gandalftitle">Esta página es sólo para usuarios registrados</h3>
        <ul class = "gandalfgif">
        
        
        </ul>
        
        <a href= "/users/register"><button class = "btn essence-btn homebutton">Registrate ahora</button></a>
        </div>


        <script src = "/essence/javascript/stopUser.js" type = "text/javascript"></script>  

</body>

</html>