.logo{
    width: 15vw;
}
.titlebanner{
    color: white;
}
.marquee{
    position: relative;
    padding-top: 3px;
    background-color: white;
    text-align: center;
    font-size: small;
    border-bottom-style: inset;
}
.imagenmaspedido{
    height: 75vh;
}
.imagenproducto{
    height: 75vh;;
}
.logofooter{
    width: 15vw;
}
.registracion{
    margin-top: 5vh;
}
.contactus{
    width: 55vw;
}
.promociones{
    height: 10vh;
}

.inicia{
    position: relative;
    margin-left: 1vw;
    margin-bottom: 10vh;
}

.error{
    font-weight: bold;
}

.errors{
    position: absolute;
    margin-top: 6px;
    padding-top: 15px;
}

.datos{
    margin-top: 5vh;
    margin-left: 0vw;
}
.promos{
    margin: 10vh;
}
.titulopromo{
margin-bottom: 20vh;
}
.promos-foto{
    width: 60vw;
}
.beneficios{
    margin-bottom: 10vh;
}
.terminos{
    font-size: x-small;
}
.datosadmin{
    font-weight: bolder;
}
.editproduct{
    margin-bottom: 10vh;
    margin-left: 2vw;
}
.hacer{
    margin-bottom: 6vh;
}
.envios{
    font-size: x-small;
}