.logo{
    width: 15vw;
}
.titlebanner{
    color: white;
}
.marquee{
    position: relative;
    padding-top: 3px;
    background-color: white;
    text-align: center;
    font-size: small;
    border-bottom-style: inset;
}
.imagenmaspedido{
    height: 75vh;
}
.imagenproducto{
    height: 75vh;;
}
.logofooter{
    width: 15vw;
}
.registracion{
    margin-top: 5vh;
}
.contactus{
    width: 55vw;
}
.promociones{
    height: 10vh;
}

.inicia{
    margin-top: 3vh;
    margin-left: 1vw;
}

.error{
    font-weight: bold;
}

.errors{
    position: absolute;
    margin-top: 6px;
    padding-top: 15px;
}

.datos{
    margin-left: 0vw;
    
}
.promos{
    margin: 10vh;
}
.titulopromo{
margin-bottom: 20vh;
}
.promos-foto{
    width: 60vw;
}
.beneficios{
    margin-bottom: 10vh;
}
.terminos{
    font-size: x-small;
}
.datosadmin{
    font-weight: bolder;
}
.infoadmin{
position: relative;
margin-left: 20vw;
top: 10vh;
margin-bottom: 15vh;
}
.avataradmin{
    display: flex;
    position: absolute;
    margin-left: 2vw;
   margin-top: 15vh;

}
.imgadmin{
    border-radius: 200px;
    border: outset 8px;
}
.editproduct{
    margin-bottom: 10vh;
    margin-left: 1vw;
}
.hacer{
    margin-bottom: 6vh;
    margin-left: 14vw;
}
.envios{
    font-size: x-small;
}

.tituloentra{
    top: 5vh;
}
.tituloregistra{
    top: 5vh;
}
.titulocarga{
    top: 5vh;
}
.catalogo{
    top: 5vh;
}
.itemedit{
    padding: 1vw;
    margin-left: 3vw;
    width: 17vw;

}
.itemnumero{
    width: 10vw;
    padding: 1vw;

}
.tablalibros{
    margin-top: 10vh;
    margin-bottom: 10vh;
}

.celdaslibros{
    border-bottom: solid 1px;
    border-collapse: collapse;
}
.itemicono{
    padding-left: 1vw;
   
    border-right: none;
}
.iconoedit{
    padding-right: 1vw;
    margin-bottom: 2vh;
}
.iconodelete{
    margin-left: 1vw;
}
.portadaedit{
    width: 4vw;
    height: 10vh;
}
.itemportada{
    width: 6vw;
}
.gandalfgif{
   margin-top: 1vh;
   margin-left: 10vw;
}
.stopuser{
    width: 40%;
    height: 50%;
   margin-left: 10vw;
   margin-bottom: 10vh;
}

.cajaproducto{
    display: flex; 
}
.socialmediafooter {
    height: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
    }

.hijofooter {
    width: 120px;
    }

.imglibrodetail{
    margin-left: 10vw;
    padding: 10vh;
}
.imguser{
    border-radius: 200px;
    border: outset 8px;
    width: 20vw;
}
.infouser{
top: 10vh;
margin-left: 25vw;
margin-bottom: 10vh;
}
.actionuser{
    margin-bottom: 10vh;;
}
.haceruser{
padding-left: 0vw;
margin-bottom: 2vh;
}
.containersuccess{
    overflow: hidden;
    height: 100vh;
    padding: 10vh;
}
.registersuccess{
    margin-top: 5vh;
    margin-bottom: 5vh;
    float: left;
}
.graciasregistro{
   float: left;
   margin-top: 10vh;
   padding-left: 3vw;
}



.iconoavatar{
    width: 8vw;
    height: 4vh;
    border-radius: 100%;
}
.productbycategory{
    width: 25vw;
}
.containernotfound{
    overflow: hidden;
    height: 110vh;
    width: 100vw;
    padding: 10vh;
}
.notfound{
    margin-top: 5vh;
    float: left;
 }


 .imgnotfound{
    float: left;
    margin-top: 5vh;
    padding-left: 3vw;
 }
.gandalftitle{
    margin-left: 8vw;
    margin-bottom: 4vh;
}

.homebutton{
    margin-left: 16vw;
    margin-top: 4vh;
}
